.book-mark{
  width:100px;
  height: 50px;
  border: none;
  background-color: rgb(100, 97, 97);
  color: white;
  cursor: pointer;
}
form input{
  width:200px;
  height: 30px;

}
.submit{
  height: 36px;
  width: 60px;
  margin-left: 10px;
  background-color: blue;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 18px;

}
#bookmark-image-conatiner{
  margin-top: 50px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-start;
  width:1500px;
  flex-wrap: wrap;
}
#bookmark-image-conatiner img{
  justify-self: flex-start;
  align-self: flex-start;
  border-radius: 10px;
  margin: 10px;
}
#image-conatiner{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width:1500px;
  flex-wrap: wrap;
}
#image-conatiner img{
  justify-self: flex-start;
  align-self: flex-start;
  border-radius: 10px;
  margin: 10px;
}